@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* styles.css */
/* .product-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.product-info {
    flex: 1;
}

.product-name {
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
} */
